.headerContainer {
  display: flex;
  width: 100%;
  padding: 1rem;

  justify-content: space-between;
  align-items: center;

  position: absolute;
  top: 0;
}

.button {
  padding: 1rem;
  border-radius: 8px;
  background-color: transparent;
  color: var(--white);

  border: 2px solid var(--button);

  transition: opacity 200ms ease-out;

  &:hover {
    opacity: 0.5;
  }
}

.image {
  width: 100px;
  height: auto;
}

.link {
  padding: 1rem;

  &:hover {
    text-decoration: underline;
  }
}
