.headerContainer {
  display: flex;
  width: 100%;
  padding: 1rem;

  justify-content: space-between;
  align-items: center;

  position: absolute;
  top: 0;
}

.image {
  width: 100px;
  height: auto;
}

.link {
  padding: 1rem;

  &:hover {
    text-decoration: underline;
  }
}
