.container {
  width: 100%;

  main {
    width: 100%;
    position: relative;
    top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      text-align: center;
    }
  }
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;

  margin-top: 2rem;

  max-width: 600px;
  width: 80%;

  input {
    width: 100%;
    height: 56px;
    background-color: var(--input);
    border: 2px solid var(--input-border);
    border-radius: 10px;
    padding: 1rem;
    color: var(--input-text);
    outline: none;

    &::placeholder {
      color: var(--placeholder);
      font-weight: 500;
      font-size: 1rem;
    }

    &:focus {
      border: 2px dashed var(--dashed);
    }
  }

  span {
    align-self: flex-start;
    margin-bottom: 1rem;
    color: #e65a5a;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-text-fill-color: var(--input-text);
    transition: background-color 5000s ease-in-out 0s;
  }

  button {
    width: 100%;
    height: 56px;
    margin-top: 2rem;
    margin-bottom: 2rem;

    border-radius: 10px;

    background-color: var(--button);
    color: var(--white);
    border: none;

    transition: filter 200ms ease-out;

    &:hover {
      filter: brightness(0.8);
    }
  }
}

.bet {
  display: grid;
  width: 100%;
  grid-template-areas:
    'title title title'
    'button1 button2 button3';
  grid-template-columns: repeat(3, 1fr);
  align-self: flex-start;

  gap: 1rem;

  margin-top: 1rem;

  div {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 56px;
  }

  h2.betTitle {
    grid-area: title;
    align-self: flex-start;
    text-align: left;
  }

  .betButton {
    margin-top: 0;
    opacity: 0.7;
  }
}

button.buttonActive {
  opacity: 1;
  margin-top: 0;
}

.bet4 {
  display: grid;
  width: 100%;
  grid-template-areas:
    'title title title title '
    'div button1 button2 button3';
  grid-template-columns: repeat(4, 1fr);
  align-self: flex-start;

  gap: 1rem;

  margin-top: 1rem;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
  }

  h2.betTitle {
    grid-area: title;
    align-self: flex-start;
    text-align: left;
  }

  button.betButton {
    margin-top: 0;
    opacity: 0.7;
  }
}
